:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --page-bg-color: var(--negative-text);
    --accent-color: var(--shadow-font);
    --title-color:  #db00ff;
    --header-text-bg-color: var(--shadow-font);
    --header_text-color: var(--negative-text);
    --question-bg-color: var(--negative-text);
    --question-color: var(--shadow-font);
    --answer-title-bg-color: var(--shadow-font);
    --answer-title-color: var(--negative-text);
    --answer-text-bg-color: var(--negative-text);
    --answer-text-color: #f1b2ce;
    --advice-title-bg-color: var(--shadow-font);
    --advice-title-color: var(--negative-text);
    --button-color: var(--shadow-font);
    --rec-color: var(--shadow-font);
    --border-color-opacity: #FF007066;
    --background-image:  url("../images/cover-image-dark.png");
    --deco-color: var(--shadow-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--negative-text);
    --accent-color: var(--shadow-font);
    --title-color:  #db00ff;
    --header-text-bg-color: var(--shadow-font);
    --header-text-color: var(--negative-text);
    --question-bg-color: var(--negative-text);
    --question-color: var(--shadow-font);
    --answer-title-bg-color: var(--shadow-font);
    --answer-title-color: var(--negative-text);
    --answer-text-bg-color: var(--negative-text);
    --answer-text-color: #f1b2ce;
    --advice-title-bg-color: var(--shadow-font);
    --advice-title-color: var(--negative-text);
    --button-color: var(--shadow-font);
    --rec-color: var(--shadow-font);
    --border-color-opacity: #FF007066;
    --border-color-opacity: #FF007066;
    --background-image:  url("../images/cover-image-dark.png");
    --deco-color: var(--shadow-font);
  }
  .rec__empty::before {
    display: inline-block;
  }
  
  .rec__empty::after {
    display: inline-block;
  }
}
.theme-light .rec__empty::before {
  display: none;
}

.theme-light .rec__empty::after {
  display: none;
}
