:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: var(--light-title-shadow);
  --title-color: var(--light-title-font);
  --page-bg-color: var(--almost-white-bg);
  --header-text-bg-color: var(--light-title-shadow);
  --header-text-color: var(--light-section-title);
  --question-bg-color:  var(--almost-white-bg);
  --question-color:  var(--light-section-title);
  --answer-title-bg-color: var(--light-title-shadow);
  --answer-title-color: var(--light-section-title);
  --answer-text-bg-color: var(--almost-white-bg);
  --answer-text-color: var(--light-section-title);
  --advice-title-bg-color:  var(--light-title-shadow) ;
  --advice-title-color: var(--light-section-title);
  --button-color: var(--light-section-title);
  --border-color-opacity: #32312D66;
  --background-image:  url("../images/cover-image-light.png");
  --deco-color: var(--light-section-title);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--light-title-shadow);
    --title-color: var(--light-title-font);
    --page-bg-color: var(--almost-white-bg);
    --header-text-bg-color: var(--light-title-shadow);
    --header-text-color: var(--light-section-title);
    --question-bg-color:  var(--almost-white-bg);
    --question-color:  var(--light-section-title);
    --answer-title-bg-color: var(--light-title-shadow);
    --answer-title-color: var(--light-section-title);
    --answer-text-bg-color: var(--almost-white-bg);
    --answer-text-color: var(--light-section-title);
    --advice-title-bg-color:  var(--light-title-shadow) ;
    --advice-title-color: var(--light-section-title);
    --button-color: var(--light-section-title);
    --border-color-opacity: #32312D66;
    --background-image:  url("../images/cover-image-light.png");
    --deco-color: var(--light-section-title);
  }
}

.theme-dark .rec__empty::before {
  display: inline-block;
}

.theme-dark .rec__empty::after {
  display: inline-block;
}