/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --light-title-shadow: #FF8DCB;
  --light-title-font: #FFC2E6;
  --light-background-color: #FFF1F7;
  --shadow-font: #ff0070;
  --negative-text: #000028;
  --light-section-title: #353430;
  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --regular-gap: 10px;
  --decoration-gap: clamp(10px , 2.65vw , 20px);
  --min-height: 668px;
  --header-margin-left: min(10px , 20px - 2.6vw);
  --section-child-margin: 40px;
  --project-font-family: "IBM Plex Mono", "Arial", sans-serif;
  --corner-thickness: 1px;
  --rec-empty-x-pos: 30px;
}